
.grid {
	display: grid;
	/*grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));*/
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 10px;
}

.grid__item {
	background-color: lightgreen;
	border: 1px solid rgba( 0,0,0, .6 );
	border-radius: 4px;
	padding: 10px;
	color: green;
	font-weight: 700;
	/*text-shadow: 1px 1px 1px rgba( 0,0,0, .4 );*/
	font-size: 20px;
	text-align: center;
}
