.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer"
}

.grid__item {
  background-color: lightgreen;
  border: 1px solid rgba( 0,0,0, .6 );
  border-radius: 4px;
  padding: 10px;
  color: green;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.grid .grid__item--primo {
  grid-area: header;
}
.grid .grid__item--secondo {
  grid-area: content;
}
.grid .grid__item--tetro {
  grid-area: sidebar;
}
.grid .grid__item--quattro {
  grid-area: footer;
}

@media only screen and ( min-width: 640px ) {
  .grid {
    grid-template-columns: 2fr 4fr;
    grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer"
  }
}



